@font-face
{
    font-family: 'Aldritch';
    src: url(../fonts/Aldrich-Regular.ttf);
}

img
{
    width: 100%;
}
.image-gallary
{
    margin-top: 10px;
    text-align: center;
}
 .car-pick
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.car-bio-and-history
{
    background-color: rgba(231, 231, 231,.8);
    margin-right: 5%;
    margin-left: 5%;
}
p
{
    margin-right: 5%;
    margin-left: 5%;
}
.statistics
{
    margin-top: 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(82,80,80,1);
}

.preview 
{
    width: 50px;
    border: 2px black solid;
    background-color: black;
}
button 
{
    background-color: unset;
    border: none;
    text-decoration: none;
    display: inline-block;
}
h1
{
    text-shadow: rgb(255, 234, 131) 0px 1px 0px, rgb(255, 234, 131) 1px 0px 0px, rgb(255, 234, 131) -1px 0px 0px, rgb(255, 234, 131) 0px -1px 0px;
    text-align: center;
    font-family: 'Aldritch';
    font-size: 2em;
    font-weight: bolder;
    word-break: break-all;
}
h2
{
    text-shadow: rgb(255, 234, 131) 0px 1px 0px, rgb(255, 234, 131) 1px 0px 0px, rgb(255, 234, 131) -1px 0px 0px, rgb(255, 234, 131) 0px -1px 0px;
    text-align: center;
    font-family: 'Aldritch';
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
}
h3
{
    text-align: center;
    font-family: 'Aldritch';
    font-size: 1.5em;
    font-weight: bolder;
}
p{
    font-family: 'Aldritch'; 
    line-height: 1.5em;
}







/*styles for the collapsable*/
.wrap-collabsible 
{
margin-bottom: 1.2rem 0;
}

input[type='checkbox'] 
{
display: none;
}

.lbl-toggle 
{
display: block;
font-weight: bold;
font-family: monospace;
font-size: 1.2rem;
text-transform: uppercase;
text-align: center;
padding: 1rem;
color: gray;
border-radius: 7px;
transition: all 0.25s ease-out;
}

.lbl-toggle::before 
{
content: ' ';
display: inline-block;

border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid currentColor;
vertical-align: middle;
margin-right: .7rem;
transform: translateY(-2px);

transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before 
{
transform: rotate(90deg) translateX(-3px);
}

.collapsible-content 
{
max-height: 0px;
overflow: hidden;
transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content 
{
max-height: 100vh;
}

.toggle:checked + .lbl-toggle 
{
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.collapsible-content
{
    width: 90%;
    margin: auto;
}
.collapsible-content .content-inner 
{
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
padding: .5rem 1rem;
}



/*statistics table*/
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin-bottom: 24px;
    word-break: break-all;
    margin-right: 2vw;
    margin-left: 2vw;
}
table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
td 
{
    height: 20px;
    min-width: 20vw;
    color: white;
}
@media (max-width: 1300px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    /*the grid layout for mobile*/
    .tributes-layout-grid
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .image-gallary  
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .car-bio-and-history 
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .statistics 
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .car-selector 
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
  }
  @media (min-width: 1300px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    /*the grid layout for mobile*/
    .tributes-layout-grid
    {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: auto auto auto auto ;
    }
    .image-gallary  
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .car-bio-and-history 
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        
    }
    .statistics 
    {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .car-selector 
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    td 
    {
        height: 20px;
        min-width: 70px;
        color: white;
        word-break: normal;
        max-width: 20%;
    }
  }